* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-image: url("images/background.png");
}

header {
    padding: 20px 0;
    border-bottom: 3px solid black;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;
}

.container > h1 {
    background-color: #96c4ff;
    color: black;
}

.subheading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: pink
}

h1 {
    display: flex;
    align-items:left;
    color:white
}

.social-heading { 
    display: flex;
    align-items: right;
    justify-content: flex-end;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

p { 
    margin: 15px 0;
    line-height: 130%;
}

.nav {
    display:flex;
    margin-left:auto;
}   

nav a {
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none; 
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
    background-color: white;
    width: 70%;
    padding: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 450px;
    width: 95%;
    padding: 20px;

}

.social-icons a {
    display: flex;
}

aside {
    width: 20%;
    padding: 20px;
    
}

aside img {
    box-shadow: 3px 3px 3px black;
    display: inline-block;
    margin-right: 0px;
    width: 45px;
    height: auto;
}

.profile-image {
    float: left;
    margin: 0 20px 10px 0;
}

footer { 
    clear: both;
    position:fixed;
    bottom: 0;
    background: #333;
    width: 100%;
    text-align: center;
}

footer p {
    color: white;
    font-size: 18px;
}